@import "../Colors.scss";
.meal-plans-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30rem;
}
.meal-plans {
  width: 100%;
  background-color: $primary-color;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 83% 54% 81% 54% / 5% 7% 6% 5%;
}

.background {
  width: 100%;
  position: absolute;
  top: 150%;
  z-index: -100;
}

.meal-plan-header {
  margin-top: 10rem;
}

.cards {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
}

.plan-category {
  color: grey(white);
  font-family: Quicksand;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
  margin-top: 6rem;
  text-align: center;
  text-shadow: 0 3px 4px $primary-color-darker;
}

.see-more-btn {
  font-family: Quicksand;
  font-weight: 600;
  margin-top: 2rem;
  margin-left: 15rem;
  background-color: transparent;
  color: grey(white);
  font-size: 1.4rem;
  border: none;
  border-bottom: 2px solid white;
  padding: 0.4rem 0;
  width: 10rem;
  margin-bottom: 5rem;
}

.right-arrow {
  font-family: Quicksand;
  font-size: 2.2rem;
  font-weight: 700;
}

.see-all-btn {
  justify-self: center;
  width: 20rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  font-family: Quicksand;
  font-weight: 700;
  border: 3px solid white;
  padding: 2rem 2rem;
  margin-top: 8rem;
  margin-bottom: 10rem;
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: $primary-color;
  }
}
.last-meal-card {
  display: none;
}

@media screen and (min-width: 1400px) {
  .cards {
    grid-template-columns: repeat(3, auto);
    column-gap: 3rem;
    row-gap: 4rem;
  }
  .meal-plans {
    border-radius: 50% 76% 59% 70% / 23% 27% 35% 33%;
  }
  .last-meal-card {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 1400px) {
  .cards {
    grid-template-columns: repeat(2, auto);
    column-gap: 3rem;
    row-gap: 4rem;
  }

  .see-more-btn {
    width: 15rem;
    padding: 2rem 2rem;
    align-self: center;
    justify-self: center;
    margin: 0;
    border: white 3px solid;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    span {
      display: none;
    }
  }

  .last-meal-card {
    display: block;
  }
}
