@import "../Colors.scss";

.container-testimonials {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.testimonials {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.see-more-btn-testimonials {
  align-self: center;
  font-family: Quicksand;
  font-weight: 700;
  margin-top: 3rem;
  background-color: transparent;
  color: grey(medium);
  font-size: 1.8rem;
  border: none;
  border-bottom: 2px solid grey(medium);
  padding: 0;
  margin-bottom: 5rem;
  span {
    font-family: Quicksand;
    font-size: 2.4rem;
    font-weight: 900;
  }
}

@media screen and (min-width: 860px) {
  .testimonials {
    flex-direction: row;
    margin-top: 4rem;
    gap: 2rem;
  }

  .see-more-btn-testimonials {
    font-size: 1.4rem;

    span {
      font-size: 2rem;
    }
  }
}
